Package: net.tottech.banktouch
Name: BankTouch
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Use TouchID for Swedish BankID app
Maintainer: Christoffer Henriksson
Author: Christoffer Henriksson
Section: Tweaks
